Repository kim-yeonjoong/pulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix && vitest related --run, prettier --write

fix: 불필요한 들여쓰기 삭제
  README.md
  README_ko.md
Due: prettier --write

fix: 불필요한 들여쓰기 삭제 (#1)
  README.md
  README_ko.md
Due: prettier --write

chore: add code owner
  .github/CODEOWNERS
Due: none

chore: add provenance option
  .github/workflows/release.yml
Due: none

Chore/code owner and provenance (#3)
  .github/CODEOWNERS
  .github/workflows/release.yml
Due: none

fix: 라이센스 내 이름 변경
  LICENSE
Due: none

fix: 라이센스 내 이름 변경 (#4)
  LICENSE
Due: none

ci: lint 코드 스타일 검사 추가
  .github/workflows/checks.yml
Due: none

ci: lint 코드 스타일 검사 추가 (#9)
  .github/workflows/checks.yml
Due: none

chore: 헤더에서 Authorization을 x-library-name으로 변경
  lib/shared/validate-schema.spec.ts
Due: eslint --fix && vitest related --run

chore: baseHeaders의 Authorization 헤더를 x-library-name으로 변경
  lib/shared/validate-schema.spec.ts
Due: eslint --fix && vitest related --run

chore: 헤더에서 Authorization을 x-library-name으로 변경 (#10)
  lib/shared/validate-schema.spec.ts
Due: eslint --fix && vitest related --run

feat: pr check workflow 트리거 조건 변경
  .github/workflows/checks.yml
Due: none

chore: pr check workflow 트리거 조건 변경 (#12)
  .github/workflows/checks.yml
Due: none

chore: codecov config add ci: 테스트 및 코드 커버리지 보고서 업로드 추가
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: none

feat: GitHub Actions에서 npm 및 GitHub 레지스트리 지원
  .github/workflows/release.yml
Due: none

add-codecov-coverage-upload-action (#15)
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: none

fix: tsup 설정에 minify 옵션 추가
  tsup.config.ts
Due: eslint --fix && vitest related --run

fix: tsup 설정에 minify 옵션 추가 (#16)
  tsup.config.ts
Due: eslint --fix && vitest related --run

chore: test > test:coverage
  .github/workflows/release.yml
Due: none

chore: test > test:coverage (#18)
  .github/workflows/release.yml
Due: none

chore: add access public option
  .github/workflows/release.yml
Due: none

chore: change strategy to bump
  renovate.json
Due: prettier --write

fix: update dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update readme badge
  README.md
  README_ko.md
Due: prettier --write

chore: add codecov config
  codecov.yml
Due: none

update-dependencies-remove-optional-packages (#19)
  .github/workflows/release.yml
  README.md
  README_ko.md
  codecov.yml
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

Update release.yml
  .github/workflows/release.yml
Due: none

chore: remove github publish
  .github/workflows/release.yml
Due: none

fix: command 를 매 호출 시 재생성 하도록 수정
  lib/helper/cli.helper.ts
Due: eslint --fix && vitest related --run

chore: boolean 타입으로 사용할 수 있도록 변경
  lib/helper/cli.helper.ts
Due: eslint --fix && vitest related --run

fix: number 가 아닌 경우 기본 값 사용하도록 변경
  lib/helper/cli.helper.ts
Due: eslint --fix && vitest related --run

chore: 불필요한 설정파일 삭제
  codecov.yml
  vitest.config.mjs
Due: none

chore: cli helper 테스트 코드 추가
  lib/helper/cli.helper.spec.ts
Due: eslint --fix && vitest related --run

chore: add language links and align badges
  README.md
  README_ko.md
Due: prettier --write

update-readme-formatting-and-headers (#28)
  README.md
  README_ko.md
Due: prettier --write

chore: remove unused import
  lib/helper/cli.helper.spec.ts
Due: eslint --fix && vitest related --run

fix: command 를 매 호출 시 재생성 하도록 수정, number 가 아닌 경우 기본 값 사용하도록 변경
  codecov.yml
  lib/helper/cli.helper.spec.ts
  lib/helper/cli.helper.ts
  vitest.config.mjs
Due: eslint --fix && vitest related --run

feat: add test code
  eslint.config.mjs
  lib/helper/cli.helper.test.ts
  lib/helper/file.helper.test.ts
  lib/helper/replacer.helper.test.ts
  lib/processor.test.ts
  lib/schema/index.ts
  lib/schema/log.schema.ts
  lib/schema/service.schema.ts
  lib/service/database.service.test.ts
  lib/service/database.service.ts
  lib/shared/json-structure-compare.ts
  lib/shared/spinner.test.ts
  lib/shared/validate-schema.test.ts
  package.json
  pnpm-lock.yaml
  types/type.d.ts
  vitest.config.mjs
Due: eslint --fix && vitest related --run, prettier --write

Path conditions:
  eslint --fix && vitest related --run: any of: *.{js,ts}
  prettier --write: any of: *.{json,md}
