Repository kim-yeonjoong/pulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix && vitest related --run, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix && vitest related --run",
  "*.{json,md}": "prettier --write"
}

fix: json structure compare
  lib/service/database.service.test.ts
  lib/shared/is-json-structure-equal.test.ts
  lib/shared/is-json-structure-equal.ts
  lib/shared/json-structure-compare.ts
Due: eslint --fix && vitest related --run

feat: add test code
  eslint.config.mjs
  lib/helper/cli.helper.test.ts
  lib/helper/file.helper.test.ts
  lib/helper/replacer.helper.test.ts
  lib/processor.test.ts
  lib/schema/index.ts
  lib/schema/log.schema.ts
  lib/schema/service.schema.ts
  lib/service/database.service.test.ts
  lib/service/database.service.ts
  lib/shared/json-structure-compare.ts
  lib/shared/spinner.test.ts
  lib/shared/validate-schema.test.ts
  package.json
  pnpm-lock.yaml
  types/type.d.ts
  vitest.config.mjs
Due: eslint --fix && vitest related --run, prettier --write

chore: readme file path fix
  README.md
Due: prettier --write

chore: add test code
  eslint.config.mjs
  lib/helper/cli.helper.test.ts
  lib/helper/file.helper.test.ts
  lib/helper/replacer.helper.test.ts
  lib/processor.test.ts
  lib/schema/index.ts
  lib/schema/log.schema.ts
  lib/schema/service.schema.ts
  lib/service/database.service.test.ts
  lib/service/database.service.ts
  lib/shared/spinner.test.ts
  lib/shared/validate-schema.test.ts
  package.json
  pnpm-lock.yaml
  types/type.d.ts
  vitest.config.mjs
Due: eslint --fix && vitest related --run, prettier --write

chore: translate path fix
  README.md
Due: prettier --write

chore: add test code and fix readme translate path (#66)
  README.md
  eslint.config.mjs
  lib/helper/cli.helper.test.ts
  lib/helper/file.helper.test.ts
  lib/helper/replacer.helper.test.ts
  lib/processor.test.ts
  lib/schema/index.ts
  lib/schema/log.schema.ts
  lib/schema/service.schema.ts
  lib/service/database.service.test.ts
  lib/service/database.service.ts
  lib/shared/spinner.test.ts
  lib/shared/validate-schema.test.ts
  package.json
  pnpm-lock.yaml
  types/type.d.ts
  vitest.config.mjs
Due: eslint --fix && vitest related --run, prettier --write

fix: 표기법 추가
  README.md
  README_ko.md
Due: prettier --write

fix: 표기법 추가 (#67)
  README.md
  README_ko.md
Due: prettier --write

fix: change supported node version for github action
  .nvmrc
  package.json
Due: prettier --write

fix: change supported node version for github action (#109)
  .nvmrc
  package.json
Due: prettier --write

chore: change vitest rule to recommended
  eslint.config.mjs
  lib/service/database.service.test.ts
Due: eslint --fix && vitest related --run

chore: change to named export
  lib/index.ts
Due: eslint --fix && vitest related --run

feat: validate response json schema method
  eslint.config.mjs
  lib/processor.test.ts
  lib/service/database.service.test.ts
  lib/shared/spinner.test.ts
  lib/shared/validate-schema.test.ts
  lib/utils/json-schema-validate.test.ts
  lib/utils/json-schema-validate.ts
Due: eslint --fix && vitest related --run

feat: add check response body schema is equal to expected
  lib/service/checker.service.ts
  lib/utils/is-json-schema-equal.test.ts
  lib/utils/is-json-schema-equal.ts
Due: eslint --fix && vitest related --run

chore: update sample case
  package.json
  sample.json
Due: prettier --write

chore: update readme
  README.md
  README_ko.md
Due: prettier --write

feat: add response body schema validate feature (#141)
  README.md
  README_ko.md
  eslint.config.mjs
  lib/processor.test.ts
  lib/service/checker.service.ts
  lib/service/database.service.test.ts
  lib/shared/spinner.test.ts
  lib/shared/validate-schema.test.ts
  lib/utils/is-json-schema-equal.test.ts
  lib/utils/is-json-schema-equal.ts
  package.json
  sample.json
Due: eslint --fix && vitest related --run, prettier --write

fix: remone eslint types
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set renovate auto merge enable
  renovate.json
Due: prettier --write

chore: set renovate auto merge enable (#158)
  renovate.json
Due: prettier --write

fix: add typescript resolver
  eslint.config.mjs
  lib/service/database.service.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix && vitest related --run, prettier --write

fix: concurrent test name
  lib/helper/cli.helper.test.ts
  lib/helper/file.helper.test.ts
  lib/helper/replacer.helper.test.ts
  lib/shared/spinner.test.ts
  lib/utils/is-json-schema-equal.test.ts
Due: eslint --fix && vitest related --run

docs: add comprehensive code review and refactoring plan
  CODE_REVIEW_AND_REFACTORING_PLAN.md
Due: prettier --write

refactor: implement comprehensive code review improvements
  lib/errors/index.ts
  lib/helper/cli.helper.ts
  lib/helper/file.helper.test.ts
  lib/helper/file.helper.ts
  lib/index.ts
  lib/processor.test.ts
  lib/processor.ts
  lib/service/checker.service.test.ts
  lib/service/checker.service.ts
  lib/service/database-manager.ts
  lib/service/database.service.ts
  lib/shared/validate-schema.ts
  lib/utils/is-json-schema-equal.test.ts
  lib/utils/is-json-schema-equal.ts
  types/type.d.ts
Due: eslint --fix && vitest related --run

refactor: apply additional code improvements and test enhancements
  lib/service/checker.service.test.ts
  lib/service/checker.service.ts
  lib/service/database.service.test.ts
  lib/service/database.service.ts
  lib/shared/spinner.test.ts
  lib/shared/spinner.ts
Due: eslint --fix && vitest related --run
